body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
     'Lucida Grande', 'Lucida Sans Unicode', Geneva,
      Verdana, sans-serif;
}

a {
    color: aliceblue;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    margin: 0px;
    padding: 8px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 20px;
}

.fwc1 {
    display: flex;
    justify-content: center;
    padding: 24px;
    background-color: #1F2937;
    margin: 0px;
}

.hwc1 {
    padding: 24px;
    flex: 1;
    display: flex;
    justify-content: end;
    margin: 0
}

.hwc1text {
    max-width: 30vw;
    justify-content: end;
}

.landingtitle {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    margin: 0;
}

.landingtext {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

.landingbutton {
    background-color:#3882F6;
    border-radius: 5px;
    color: #e5e7eb;
    margin-top: 0px;
}

.hwc2 {
    padding: 24px;
    flex: 1;
    align-items: center;
}

.hwc2imagebox {
    max-width: 30vw;
    align-items: center ;
    margin: 0;
    padding: 0;
}

.hwc2image  {
    max-width: 30vw;
    margin: 0;
    border: 5px solid aliceblue;
}

.fwc2   {
    padding: 8px;
    text-align: center;

}
 .infotitle {
    margin-top: 8px;
 }

.infotext {
    padding: 0;
    margin: 0;
}

.infoboxes {
   align-items: baseline; 
   display: flex;
   justify-content: center;
   flex-wrap: nowrap;
   gap: 24px;
   
}

.boxes {
    max-width: 250px;
    
}

img.boxes {
    border: 5px solid #1f2937;
    width: 225px;
    flex: 1 1 auto;
    border-radius: 10px;

}

.fwc3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    height: 150px;
    background-color: #E5E7EB;
    padding: 24px;
    margin: 1px;
}

.quotetext {
    margin: 0;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}
.quotedperson {
    font-size: 20px;
    font-weight: 800;
    color: #1F2937;
    max-height: 25px;
    margin: 10px -340px 0px 0px ;
    
}
 .fwc4 {
    display: flex;
    justify-content: center;
    padding: 70px;
 
 }
.ctabox {
    width: 66vw;
    height: 17vh;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    color: #e5e7eb;
}

.ctatext {
   margin-top: -15px;
}

.ctabutton {
    background-color:#3882F6;
    border-radius: 5px;
    color: #e5e7eb;
    margin-top: 0px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    min-height: 14vh;
    color: #e5e7eb;
}